<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SC</title>
    </head>
    <script type="text/javascript">
        function gup( name, url ) {
            if (!url) url = location.href;
            name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
            var regexS = "[\\?&]"+name+"=([^&#]*)";
            var regex = new RegExp( regexS );
            var results = regex.exec( url );
            return results == null ? null : results[1];
        }
        result = gup('r', location.search)
        if(result.length > 0) {
            if(result == 1) {
                $( "#message" ).text("Tranfered with success!")
            }
            else {
                $( "#message" ).text("Didn't worked!")
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <body>
        <h1>Your SC</h1>
        <div id="container" class="col">
            <p id="message"></p>
            <p>Balance xyz</p>
            <form action="/transfer" method="POST">
                to: <input type="text" name="to">
                ammount: <input type="number" name="ammount">
            </form>
        </div>
    </body>
</html>