doctype html
html(lang='en')
  head
    title SC
  script(type='text/javascript').
    function gup( name, url ) {
    if (!url) url = location.href;
    name = name.replace(/[\\[]/,"\\\[").replace(/[\]]/,"\\\]");
    var regexS = "[\\\?&]"+name+"=([^&#]*)";
    var regex = new RegExp( regexS );
    var results = regex.exec( url );
    return results == null ? null : results[1];
    }
    result = gup('r', location.search)
    if(result.length > 0) {
    if(result == 1) {
    $( "#message" ).text("Tranfered with success!")
    }
    else {
    $( "#message" ).text("Didn't worked!")
    }
    }
  script(src='https://code.jquery.com/jquery-1.10.2.js')
  body
    h1 Your SC
    #container.col
      p#message
      p= balance
      form(action='/transfer', method='POST')
        | to: 
        input(type='text', name='to')
        |                 ammount: 
        input(type='number', name='ammount')
        input(type='submit')
